{% extends "contacto/base.html" %}
{% load static %}

{% block title %}Control apícola - J Silva Ingeniería{% endblock %}

{% block content %}
<div class="spacer__titles layer-2">
        <div class="overlay__text">Servicios</div>
</div>
<div class="spacer__subtitles layer-3">
        <div class="overlay__text__subtitles">Control apícola</div>
</div>
<div class="services__about">
    <div class="service__description">
        <p>En J. Silva Ingeniería, nos especializamos en el manejo seguro e integrado de abejas, brindando soluciones para remover colmenas que se encuentren en lugares no deseados. Nuestro enfoque responsable no solo garantiza la seguridad de las personas, sino que también busca preservar la vida de estos importantes polinizadores mediante técnicas respetuosas con el medio ambiente.</p>
    </div>

    <div class="service__image">
        <img src="{% static 'contacto/img/servicio-control-apicola.webp' %}" alt="">
    </div>
    
</div>

<button type="submit" class="button">Reservar</button>


{% endblock %}
