# Entornos virtuales
venv/
.env

# Archivos de Python
*.pyc
__pycache__/

# Archivos estáticos
staticfiles/

# Archivos de base de datos locales (opcional)
*.sqlite3
db.sqlite3

# Config de IDEs
*.vscode/
.idea/
